<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.matdog">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.dog_list.detail_list_popup.Detail_list_popupActivity"
            android:theme="@style/DialogTheme"></activity>
        <!-- <activity android:name=".main.dog_list.fragment_new"/> -->
        <!-- <activity android:name=".main.dog_list.fragment_age"/> -->
        <activity android:name=".main.dog_camera.NolistActivity" />
        <activity android:name=".main.mypage.MyPageActivity" />
        <activity android:name=".main.dog_camera.LostCameraActivity" />
        <activity
            android:name=".main.dog_lost.detail_lost_popup.Detail_popupActivity"
            android:theme="@style/DialogTheme" />
        <activity android:name=".main.dog_lost.WriteActivity" />
        <activity android:name=".main.dog_lost.DetailActivity" />
        <activity android:name=".main.dog_list.ListActivity" />
        <activity android:name=".main.dog_camera.CameraActivity" />
        <activity android:name=".sign.SignUpActivity" />
        <activity android:name=".sign.SignInActivity" />
        <activity android:name=".main.MainActivity" /> <!-- 시작 액티비티를 SplashActivity로 설정, android:theme를 SplashTheme로 설정 -->
        <activity
            android:name=".main.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>