<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.matdog">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.dog_lost.detail_popup.Detail_popupActivity"></activity>
        <activity android:name=".main.dog_lost.detail_popup.Detail_PopupActivity" />
        <activity android:name=".main.mypage.MyPageActivity" />
        <activity android:name=".main.dog_lost.WriteActivity" />
        <activity android:name=".main.dog_lost.DetailActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.dog_list.ListActivity" />
        <activity android:name=".main.dog_camera.CameraActivity" />
        <activity android:name=".sign.SignUpActivity" />
        <activity android:name=".sign.SignInActivity" />
        <activity android:name=".main.MainActivity" />
    </application>

</manifest>